# Port number for golang application
PORT=8080

# Secret for JWT generation
SECRET=somethinglikeyoursecret

# Postgres config
POSTGRES_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=neura-launcher-db
POSTGRES_HOST=database

# PG Admin config
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=adminpassword

# AWS config
AWS_ACCESS_KEY_ID = somekey
AWS_SECRET_ACCESS_KEY = somesecret